<STYLE type=text/css>
A:link {
 COLOR: red /*The color of the link*/
}
A:visited {
 COLOR: #800080 /*The color of the visited link*/
}
A:hover {
 COLOR: green /*The color of the mouseover or 'hover' link*/
}
BODY { COLOR: #fff /*The color of all the other text within the body of the page*/
}
</STYLE>
